<!-- index.nunjucks -->

{% from  "macros/portfolio.html" import project %}

{% extends "default.html" %}
{% block content %}

<section class="landing">
    <div class="container">
        <div class="intro-text">
            <h1 class="title">
                Ben Adams, Engineering Design.
            </h1>
            <h2 class="subtitle">
                    As a UX Engineer I design intuitive user experiences on the web and write the code that brings them to life. 
                    I also create digital illustrations. 
            </h2>
            <div class="button-group">
                <a class="button">Learn More</a>
            </div>
            
        </div>
        <div class="intro-splash">
            <img src="img/landing/splash.svg">
        </div>
    </div>
</section>

{% endblock %}


{% block portfolio %}
<section class="portfolio">
    <div class="portfolio-scroll">
        {{ project ('1', 'PORTFOLIO','Mobile App MVP Design & Development', 'A family tragedy led to the realization that there isn`t much assistance in getting your affairs in order. So my wife and I teamed up to prototype an app that would help solve this.', 'img/portfolio/LP_Showcase.png') }}
        {{ project ('2', 'PORTFOLIO','Event Management Company Rebrand', 'SPARGO, Inc. is an Event Management company that needed a refresh to their identity. I was the sole designer tasked with rebranding and redesigning everything from logo and signage to website and business cards.', 'img/portfolio/SPARGO_Rebrand.png') }}
        {{ project ('3', 'PORTFOLIO','Something Else', 'SPARGO, Inc. is an Event Management company that needed a refresh to their identity. I was the sole designer tasked with rebranding and redesigning everything from logo and signage to website and business cards.', 'img/portfolio/SPARGO_Rebrand.png') }}
        {{ project ('4', 'PORTFOLIO','Something Else again', 'SPARGO, Inc. is an Event Management company that needed a refresh to their identity. I was the sole designer tasked with rebranding and redesigning everything from logo and signage to website and business cards.', 'img/portfolio/SPARGO_Rebrand.png') }}
    </div>
</section>
{% endblock %}



